@model OhioModels

<h3>@Model.ohio_Name information </h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Website</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Assistance</th>
    </tr>

    <tr>
        <td>@Model.ohio_ID</td>
        <td>@Model.ohio_Name</td>
        <td>@Model.ohio_Address</td>
        <td>@Model.ohio_Website</td>
        <td>@Model.ohio_Phone</td>
        <td>@Model.ohio_Email</td>
        <td>@Model.ohio_Assistance</td>
    </tr>
</table>

