@model National

<h3>@Model.Name information </h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Website</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Assistance</th>
    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.Website</td>
        <td>@Model.Phone</td>
        <td>@Model.Email</td>
        <td>@Model.Assistance</td>
    </tr>
</table>
